{% extends "layout.html" %}

{% block title %}
Chai aur tweet
{% endblock %}


{% block content %}
<h1 class="text-center  mt-4">Welcome to Chai's Dajango project</h1>

<a class="btn btn-primary" href="{% url 'tweet_create' %}">Create a tweet</a>
<div class="container row gap-3">
    {% for tweet in tweets %}
    <div class="card" style="width: 18rem;">
        <img src="{{tweet.photo.url}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{tweet.use}}</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    {% endfor %}
</div>
{% endblock %}